.grid-container {
  display: grid;
  grid-template-areas: "home-img home-img home-img" "navbar navbar navbar" "body_content body_content body_content";
  grid-template-columns: 1fr 1fr 1fr; }

body {
  margin: 0; }

.home-img {
  grid-area: home-img;
  height: 900px;
  background: url("../images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .home-img .header_logo {
    margin-top: 200px; }
    .home-img .header_logo h1 {
      color: white;
      font-family: 'Permanent Marker', cursive;
      font-size: 3em; }
    .home-img .header_logo .header_line {
      text-decoration: line-through;
      text-decoration-color: #20a7f5;
      text-decoration-style: double;
      color: transparent; }
    .home-img .header_logo .Colortext {
      background-color: rgba(43, 43, 43, 0.92);
      padding: 20px; }
    .home-img .header_logo h3 {
      color: white;
      background-color: rgba(43, 43, 43, 0.92);
      padding: 15px;
      font-family: 'Poppins', sans-serif;
      margin-left: 250px;
      margin-right: 250px;
      border-radius: 10px; }

nav {
  grid-area: navbar;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: 0.92;
  z-index: 100; }
  nav #nav_links {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 15px; }
    nav #nav_links a {
      color: #35eb11;
      text-decoration: none;
      margin-right: 30px;
      margin-left: 20px;
      font-size: 1.4em;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out 0.4s; }
      nav #nav_links a:hover {
        color: black;
        border-bottom-color: black; }

.body_content {
  grid-area: body_content;
  display: grid;
  grid-template-areas: "side_bar category_section category_section category_section ads_bar" "side_bar hiking_category hiking_category hiking_category ads_bar" "side_bar hiking_text1 hiking_text2 hiking_text3 ads_bar" "side_bar hiking_img1 hiking_img2 hiking_img3 ads_bar" "side_bar info_box1 info_box1 info_box1 ads_bar";
  grid-template-columns: 15% 1fr 1fr 1fr 15%;
  grid-gap: 10px; }

.side_bar {
  grid-area: side_bar;
  border: 1px solid black; }

.category_section {
  grid-area: category_section;
  border: 1px solid black;
  line-height: 50px;
  height: 300px;
  padding: 10px; }
  .category_section h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 1.75em; }
  .category_section .hiking_box {
    height: 100px;
    width: 14%;
    float: left;
    background: url("../images/hike.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 70px; }
  .category_section .fishing_box {
    height: 100px;
    width: 14%;
    float: left;
    background: url("../images/fish.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 100px; }
  .category_section .climbing_box {
    height: 100px;
    width: 14%;
    float: left;
    background: url("../images/rock.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 70px; }
  .category_section .camping_box {
    height: 100px;
    width: 14%;
    float: left;
    background: url("../images/tent.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 70px; }
  .category_section .hiking_text {
    height: 50px;
    width: 14%;
    float: left;
    margin-left: 70px; }
    .category_section .hiking_text h3 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 1.25em; }
  .category_section .fishing_text {
    height: 50px;
    width: 14%;
    float: left;
    margin-left: 100px; }
    .category_section .fishing_text h3 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 1.25em; }
  .category_section .climbing_text {
    height: 50px;
    width: 14%;
    float: left;
    margin-left: 100px;
    margin-right: 70px; }
    .category_section .climbing_text h3 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 1.25em; }
  .category_section .camping_text {
    height: 50px;
    width: 14%;
    float: left;
    margin-right: 70px; }
    .category_section .camping_text h3 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 1.25em; }

.ads_bar {
  grid-area: ads_bar;
  border: 1px solid black; }

.hiking_category {
  grid-area: hiking_category;
  padding: 5px;
  background-color: #008aca;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 50px; }

#hiking_text1 {
  grid-area: hiking_text1;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px; }

#hiking_text2 {
  grid-area: hiking_text2;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px; }

#hiking_text3 {
  grid-area: hiking_text3;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px; }

#hiking_img1 {
  grid-area: hiking_img1;
  height: 300px;
  line-height: 20px;
  background: url("../images/lionshead.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#hiking_img2 {
  grid-area: hiking_img2;
  height: 300px;
  line-height: 20px;
  height: 280px;
  background: url("../images/skeleton.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#hiking_img3 {
  grid-area: hiking_img3;
  height: 300px;
  line-height: 20px;
  background: url("../images/motte.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.info_box1 {
  grid-area: info_box1;
  height: 320px;
  margin-left: 100px;
  margin-right: 100px;
  display: none;
  font-family: 'Poppins', sans-serif; }
  .info_box1 #lionshead {
    margin-top: 10px;
    display: none; }
    .info_box1 #lionshead h4 {
      text-decoration: underline;
      font-size: 1.25em; }
  .info_box1 #skeleton {
    margin-top: 10px;
    display: none; }
    .info_box1 #skeleton h4 {
      text-decoration: underline;
      font-size: 1.25em; }
  .info_box1 #motte {
    margin-top: 10px;
    display: none; }
    .info_box1 #motte h4 {
      text-decoration: underline;
      font-size: 1.25em; }

#infobox {
  display: none; }

/*# sourceMappingURL=style.css.map */
