// ############################# THIS IS THE CONTACT PAGE CSS #############################

// This is the universal styling
* {
    box-sizing: border-box;
}

// This is the contact page grid container
.contact_grid-container{
    display: grid;
    grid-template-areas: 'contact-img contact-img contact-img'
    'navbar navbar navbar'
    'contactBox contactBox contactBox'
    ;
    grid-template-columns: 1fr 1fr 1fr;
}

// This is the main contact page image
.contact_img{
    grid-area: contact-img;
    background: url('../images/contact_home.jpg');
    @include backgroundImgSettings;
    height: 100vh;
    border: $borderSettings;
}

// This is the main contact box
.mainContactBox{
    grid-area: contactBox;
    border: $borderSettings;
    height: 600px;
    margin-top: 100px;
    padding: 10px;
    display: grid;
    grid-template-areas: 'contactText contactForm contactMap'
    'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(51, 51, 51, 0.527);

    h3{
        color: rgb(255, 255, 255);
    }
    h2{
        color: rgb(255, 255, 255);
    }
}

// This is the contact box text
.contactText{
    grid-area: contactText;
    border: $borderSettings;
    @include ContactBox;
    float: left;
    height: 500px;
    background-color: transparent;
    color: white;
    a{
        color: white;
    }
}

// This is the contact form
.contactForm{
    grid-area: contactForm;
    border: $borderSettings;
    @include ContactBox;
    height: 500px;
    background-color: transparent;

    // This is the placeholder settings
    ::placeholder{
        color: rgb(255, 255, 255);
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
    }

    input{
        @include inputSettings;
        transition: all ease-out 0.5s;
    }
    select{
        margin-top: 20px;
        height: 35px;
        width: 300px;
        border: 1px solid transparent;
        border-bottom: 1px solid rgb(12, 222, 250);
        font-family: 'Raleway', sans-serif;
        background: transparent;
        color: white;
        font-size: 1em;
        transition: all ease-out 0.5s;

        &:focus{
            option{
                color: rgb(0, 0, 0);
            }
        }
    }

    textarea{
        margin-top: 20px;
        width: 300px;
        height: 110px;
        border: 1px solid transparent;
        border-bottom: 1px solid rgb(12, 222, 250);
        background: transparent;
        color: white;
        font-size: 1em;
        transition: all ease-out 0.5s;
    }

    button{
        @include ButtonSettings;
        border-radius: 10px;
    }
}

// This is the contact map 
.contactMap{
    grid-area: contactMap;
    border: $borderSettings;
    @include ContactBox;
    height: 50vh;
    background: transparent;

    // This is the map image
    #contact_map{
        height: 38vh;
        background: url('../images/myMap.png');
        @include logoImgSettings;
        width: 95%;
    }
}
footer{
    width: 100%;
}