/* THIS IS THE DEVICE STYLESHEET */

/* MOBILE DEVICES */
@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2){

    // ############################## HOME PAGE ##############################
    .home-img{
      height: 60vh;
      .header_logo{
        margin-top: 100px;
        h1{
          font-size: 0.7em;
        }
        h3{
          margin-top: 30px;
          font-size: 0.6em;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .body_content{
      display: grid;
      grid-template-areas: 'category_section category_section category_section'
      'hiking_category hiking_category hiking_category'
      'hiking_content hiking_content hiking_content'
      'fishing_category fishing_category fishing_category'
      'fishing_content fishing_content fishing_content'
      'rock_category rock_category rock_category'
      'rock_content rock_content rock_content'
      'camp_category camp_category camp_category'
      'camp_content camp_content camp_content'
      ;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-left: 5px;
      margin-right: 5px;
      }
    #ads_bar{
      display: none;
    }
    nav{
      #nav_links{
        padding: 5px;
        a{
          font-size: 0.5em;
          margin-right: 10px;
          margin-left: 0px;
        }
      }
      #categoryMenu{
        height: 230px;
      }
    }
    .side_bar{
      display: none;
    }
    .category_section{
      height: 220px;
      padding: 0;
      h2{
        font-size: 1em;
      }
      .hiking_box{
        @include R_cat_box;
      }
      .fishing_box{
        margin-right: 0px;
        @include R_cat_box;
      }
      .climbing_box{
        margin-right: 0px;
        @include R_cat_box;
      }
      .camping_box{
        margin-left: 0px;
        @include R_cat_box;
        margin-right: 0px;
      }
      // This is the hiking logo text
      .hiking_text{
        @include R_cat_text;
      }
      // This is the fishing logo text
      .fishing_text{
        @include R_cat_text;
      }
      // This is the rock climbing logo text
      .climbing_text{
        margin-right: 0px;
        @include R_cat_text;
      }
      // This is the camping  logo text
      .camping_text{
        margin-right: 0px;
        @include R_cat_text;
      }
    }

    .hiking_category{
      margin-top: 50px;
      font-size: 0.4em;
    }
    #cat_text1{
      font-size: 0.2em;
      height: 20px;
      margin-top: 10px;
    }
    #hiking_img1{
      height: 80px;
    }
    #hiking_img2{
      height: 90px;
    }
    #hiking_img3{
      height: 80px;
    }
    .info_box1{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.2em;
      height: 80px;
    }

    .fishing_category{
      margin-top: 50px;
      font-size: 0.4em;
    }
    #fishing_img1{
      height: 80px;
    }
    #fishing_img2{
      height: 90px;
    }
    #fishing_img3{
      height: 80px;
    }
    .info_box2{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.2em;
      height: 80px;
    }
    #backtoTop{
      padding: 5px;
      font-size: 0.5em;
    }

    .rock_category{
      margin-top: 50px;
      font-size: 0.4em;
    }
    #rock_img1{
      height: 80px;
    }
    #rock_img2{
      height: 90px;
    }
    #rock_img3{
      height: 80px;
    }
    .info_box3{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.2em;
      height: 80px;
    }

    .camp_category{
      margin-top: 50px;
      font-size: 0.4em;
    }
    #camp_img1{
      height: 80px;
    }
    #camp_img2{
      height: 90px;
    }
    #camp_img3{
      height: 80px;
    }
    .info_box4{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.2em;
      height: 80px;
    }
    .quote_section{
      padding: 5px;
      margin-top: 70px;
      h2{
        font-size: 0.3em;
      }
      h3{
        font-size: 0.2em;
      }
      button{
        padding: 2px 8px;
        font-size: 0.4em;
      }
    }
    footer{
      font-size: 0.5em;
    }

    // ############################## GALLERY PAGE ##############################
    .gallery_grid-container{
      display: grid;
      grid-template-areas: 'gallery_img gallery_img gallery_img'
      'navbar navbar navbar'
      'gallery-head gallery-head gallery-head'
      'gall-content gall-content gall-content'
      ;
      grid-template-columns: 1fr 1fr 1fr;
      font-family: 'Raleway', sans-serif;
    }

    .gall-content{
      grid-area: gall-content;
      border: $borderSettings;
      display: grid;
      grid-template-areas: 'hike_cat hike_cat'
      'hike_img1 hike_img2'
      'hike_img3 hike_img4'
      'hike_img5 hike_img6'
      'fish_cat fish_cat'
      'fish_img1 fish_img2'
      'fish_img3 fish_img4'
      'fish_img5 fish_img6'
      'rock_cat rock_cat'
      'rock_img1 rock_img2'
      'rock_img3 rock_img4'
      'rock_img5 rock_img6'
      'camp_cat camp_cat'
      'camp_img1 camp_img2'
      'camp_img3 camp_img4'
      'camp_img5 camp_img6'
      'footer footer'
      ;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-left: 5px;
      margin-right: 5px;
    }

    #gallery_img{
      height: 40vh;
    }
    .gallery_text_header{
      font-size: 0.8em;
    }
    .hike_cat{
      font-size: 0.6em;
    }
    .fish_cat{
      font-size: 0.6em;
    }
    .rock_cat{
      font-size: 0.6em;
    }
    .camp_cat{
      font-size: 0.6em;
    }
    .hike_img1{
      height: 100px;
      @include logoImgSettings;
    }
    .hike_img2{
      height: 90px;
      @include logoImgSettings;
    }
    .hike_img3{
      height: 100px;
      @include logoImgSettings;
    }
    .hike_img4{
      height: 100px;
      @include logoImgSettings;
    }
    .hike_img5{
      height: 110px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .hike_img6{
      height: 100px;
      @include logoImgSettings;
    }

    .fish_img1{
      height: 100px;
      @include logoImgSettings;
    }
    .fish_img2{
      height: 90px;
      @include logoImgSettings;
    }
    .fish_img3{
      height: 100px;
      @include logoImgSettings;
    }
    .fish_img4{
      height: 100px;
      @include logoImgSettings;
    }
    .fish_img5{
      height: 110px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .fish_img6{
      height: 100px;
      @include logoImgSettings;
    }

    .rock_img1{
      height: 100px;
      @include logoImgSettings;
    }
    .rock_img2{
      height: 90px;
      @include logoImgSettings;
    }
    .rock_img3{
      height: 100px;
      @include logoImgSettings;
    }
    .rock_img4{
      height: 100px;
      @include logoImgSettings;
    }
    .rock_img5{
      height: 110px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .rock_img6{
      height: 100px;
      @include logoImgSettings;
    }

    .camp_img1{
      height: 100px;
      @include logoImgSettings;
    }
    .camp_img2{
      height: 90px;
      @include logoImgSettings;
    }
    .camp_img3{
      height: 100px;
      @include logoImgSettings;
    }
    .camp_img4{
      height: 100px;
      @include logoImgSettings;
    }
    .camp_img5{
      height: 110px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .camp_img6{
      height: 100px;
      @include logoImgSettings;
    }

    // //############## CONTACT PAGE ##############
    nav{
      font-size: 1.5em;
    }
    .contact_grid-container{
      display: grid;
      grid-template-areas: 'contactText'
      'contactForm'
      'footer'
      ;
      grid-template-columns: 1fr;
    }
    .contact_img{
      height: 125vh;
    }
    .mainContactBox{
      height: 115vh;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 50px;
    }
    .contactMap{
      display: none;
    }
    .contactText{
      display: none;
    }
    .contactForm{
      height: 70vh;
      textarea{
        margin-top: 50px;
      }
      select{
        margin-top: 50px;
      }
      input{
        margin-top: 50px;
      }
    }
  }

/* TABLET DEVICES */
@media only screen
  and (min-device-width: 500px)
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2){

    // ############################## HOME PAGE ##############################
    #ads_bar{
      display: none;
    }
    #backtoTop{
      padding: 5px;
      font-size: 0.7em;
    }
    .home-img{
      height: 60vh;
      .header_logo{
        margin-top: 100px;
        h1{
          font-size: 1.5em;
        }
        h3{
          margin-top: 30px;
          font-size: 1em;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    nav{
      #nav_links{
        padding: 5px;
        a{
          font-size: 1.3em;
          margin-right: 50px;
          margin-left: 10px;
        }
      }
      #categoryMenu{
        height: 250px;
      }
    }
    .side_bar{
      .side_bar_info{
        height: 200px;
        h3{
          font-size: 1em;
          margin-left: 2px;
        }
        ul{
          font-size: 0.9em;
          line-height: 40px;
        }
      }
    }
    .category_section{
      height: 220px;
      padding: 0;
      h2{
        font-size: 1em;
      }
      .hiking_box{
        @include R_cat_box1;
      }
      .fishing_box{
        margin-right: 0px;
        @include R_cat_box1;
      }
      .climbing_box{
        margin-right: 0px;
        @include R_cat_box1;
      }
      .camping_box{
        margin-left: 0px;
        @include R_cat_box1;
        margin-right: 0px;
      }
      // This is the hiking logo text
      .hiking_text{
        @include R_cat_text1;
      }
      // This is the fishing logo text
      .fishing_text{
        @include R_cat_text1;
      }
      // This is the rock climbing logo text
      .climbing_text{
        margin-right: 0px;
        @include R_cat_text1;
      }
      // This is the camping  logo text
      .camping_text{
        margin-right: 0px;
        @include R_cat_text1;
      }
    }

    // THIS IS THE HIKING CATEGORY HEADER
    .hiking_category{
      margin-top: 50px;
      font-size: 0.7em;
    }
    // THIS IS THE HIKING CATEGORY TEXT
    #cat_text1{
      font-size: 0.55em;
      height: 20px;
      margin-top: 10px;
    }
    // THIS IS THE HIKING CATEGORY IMAGES
    #hiking_img1{
      height: 120px;
    }
    #hiking_img2{
      height: 140px;
    }
    #hiking_img3{
      height: 120px;
    }
    .info_box1{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.5em;
      height: 100px;
    }

    .fishing_category{
      margin-top: 50px;
      font-size: 0.7em;
    }
    #fishing_img1{
      height: 120px;
    }
    #fishing_img2{
      height: 140px;
    }
    #fishing_img3{
      height: 120px;
    }
    .info_box2{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.5em;
      height: 100px;
    }

    .rock_category{
      margin-top: 50px;
      font-size: 0.7em;
    }
    #rock_img1{
      height: 120px;
    }
    #rock_img2{
      height: 140px;
    }
    #rock_img3{
      height: 120px;
    }
    .info_box3{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.5em;
      height: 100px;
    }

    .camp_category{
      margin-top: 50px;
      font-size: 0.7em;
    }
    #camp_img1{
      height: 120px;
    }
    #camp_img2{
      height: 140px;
    }
    #camp_img3{
      height: 120px;
    }
    .info_box4{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.5em;
      height: 100px;
    }
    .quote_section{
      padding: 5px;
      margin-top: 70px;
      h2{
        font-size: 1em;
      }
      h3{
        font-size: 0.8em;
      }
      button{
        padding: 4px 8px;
        font-size: 0.8em;
      }
    }
    footer{
      font-size: 0.9em;
    }

    // ############################## GALLERY PAGE ##############################
    .gallery_grid-container{
      display: grid;
      grid-template-areas: 'gallery_img gallery_img gallery_img'
      'navbar navbar navbar'
      'gallery-head gallery-head gallery-head'
      'gall-content gall-content gall-content'
      ;
      grid-template-columns: 1fr 1fr 1fr;
      font-family: 'Raleway', sans-serif;
    }
    #gallery_img{
      height: 60vh;
    }
    .gallery_text_header{
      font-size: 1.5em;
    }
    .hike_cat{
      font-size: 1em;
    }
    .fish_cat{
      font-size: 1em;
    }
    .rock_cat{
      font-size: 1em;
    }
    .camp_cat{
      font-size: 1em;
    }
    .hike_img1{
      height: 200px;
      @include logoImgSettings;
    }
    .hike_img2{
      height: 190px;
      @include logoImgSettings;
    }
    .hike_img3{
      height: 200px;
      @include logoImgSettings;
    }
    .hike_img4{
      height: 200px;
      @include logoImgSettings;
    }
    .hike_img5{
      height: 210px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .hike_img6{
      height: 200px;
      @include logoImgSettings;
    }

    .fish_img1{
      height: 200px;
      @include logoImgSettings;
    }
    .fish_img2{
      height: 190px;
      @include logoImgSettings;
    }
    .fish_img3{
      height: 200px;
      @include logoImgSettings;
    }
    .fish_img4{
      height: 200px;
      @include logoImgSettings;
    }
    .fish_img5{
      height: 210px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .fish_img6{
      height: 200px;
      @include logoImgSettings;
    }

    .rock_img1{
      height: 200px;
      @include logoImgSettings;
    }
    .rock_img2{
      height: 190px;
      @include logoImgSettings;
    }
    .rock_img3{
      height: 200px;
      @include logoImgSettings;
    }
    .rock_img4{
      height: 200px;
      @include logoImgSettings;
    }
    .rock_img5{
      height: 210px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .rock_img6{
      height: 200px;
      @include logoImgSettings;
    }

    .camp_img1{
      height: 200px;
      @include logoImgSettings;
    }
    .camp_img2{
      height: 190px;
      @include logoImgSettings;
    }
    .camp_img3{
      height: 200px;
      @include logoImgSettings;
    }
    .camp_img4{
      height: 200px;
      @include logoImgSettings;
    }
    .camp_img5{
      height: 210px;
      margin-top: -10px;
      @include logoImgSettings;
    }
    .camp_img6{
      height: 200px;
      @include logoImgSettings;
    }

  // //############## CONTACT PAGE ##############
  .mainContactBox{
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    grid-gap: 5px;
    padding: 2px;
  }
  h2{
    font-size: .7em;
  }
  h3{
    font-size: .5em;
  }
  p{
    font-size: .5em;
  }
  label{
    font-size: .6em;
  }
  a{
    font-size: .5em;
  }

  .contactForm{
    height: 70vh;

    ::placeholder{
      font-size: 0.4em;
    }
    input{
      height: 20px;
      width: 150px;
      padding: 10px;
      margin-top: 10px;

      &:focus{
          border-color :blue;
      }
    }
    select{
      height: 20px;
      width: 150px;
      font-size: .4em;
    }

    textarea{
      height: 80px;
      width: 150px;
    }
    button{
      padding: 4px 16px;
      font-size: 0.7em;
    }
  }
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1440px)
  and (-webkit-min-device-pixel-ratio: 2){
    // ############################## HOME PAGE ##############################
    .home-img{
      height: 80vh;
      .header_logo{
        margin-top: 100px;
        h1{
          font-size: 2.5em;
        }
        h3{
          margin-top: 30px;
          font-size: 1.5em;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    nav{
      #nav_links{
        padding: 5px;
        a{
          font-size: 1.5em;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
      #categoryMenu{
        height: 300px;
      }
    }
    .side_bar{
      .side_bar_info{
        height: 260px;
        h3{
          font-size: 1.7em;
          margin-left: 2px;
        }
        ul{
          font-size: 1.2em;
          line-height: 50px;
        }
      }
    }
    .category_section{
      height: 220px;
      padding: 0;
      h2{
        font-size: 1.7em;
      }
      .hiking_box{
        @include R_cat_box2;
      }
      .fishing_box{
        margin-right: 0px;
        @include R_cat_box2;
      }
      .climbing_box{
        margin-right: 0px;
        @include R_cat_box2;
      }
      .camping_box{
        margin-left: 0px;
        @include R_cat_box2;
        margin-right: 0px;
      }
      // This is the hiking logo text
      .hiking_text{
        @include R_cat_text2;
      }
      // This is the fishing logo text
      .fishing_text{
        @include R_cat_text2;
      }
      // This is the rock climbing logo text
      .climbing_text{
        margin-right: 0px;
        @include R_cat_text2;
      }
      // This is the camping  logo text
      .camping_text{
        margin-right: 0px;
        @include R_cat_text2;
      }
    }

    .hiking_category{
      margin-top: 50px;
      font-size: 0.8em;
    }
    #cat_text1{
      font-size: 0.85em;
      height: 20px;
      margin-top: 10px;
    }
    #hiking_img1{
      height: 220px;
    }
    #hiking_img2{
      height: 210px;
    }
    #hiking_img3{
      height: 220px;
    }
    .info_box1{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.65em;
      height: 150px;
    }

    .fishing_category{
      margin-top: 50px;
      font-size: 0.8em;
    }
    #fishing_img1{
      height: 220px;
    }
    #fishing_img2{
      height: 230px;
    }
    #fishing_img3{
      height: 220px;
    }
    .info_box2{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.65em;
      height: 150px;
    }

    .rock_category{
      margin-top: 50px;
      font-size: 0.8em;
    }
    #rock_img1{
      height: 220px;
    }
    #rock_img2{
      height: 210px;
    }
    #rock_img3{
      height: 220px;
    }
    .info_box3{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.65em;
      height: 150px;
    }

    .camp_category{
      margin-top: 50px;
      font-size: 0.8em;
    }
    #camp_img1{
      height: 220px;
    }
    #camp_img2{
      height: 230px;
    }
    #camp_img3{
      height: 220px;
    }
    .info_box4{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0.65em;
      height: 150px;
    }
    .quote_section{
      padding: 5px;
      margin-top: 70px;
      h2{
        font-size: 1.6em;
      }
      h3{
        font-size: 1.3em;
      }
      button{
        padding: 16px 32px;
        font-size: 1.5em;
      }
    }
    footer{
      font-size: 1em;
    }
  }

  
/* LARGE DESKTOP DEVICES */
@media only screen
  and (min-device-width: 1600px)
  and (max-device-width: 2560px)
  and (-webkit-min-device-pixel-ratio: 2){
    .home-img{
      height: 100vh;
      .header_logo{
        margin-top: 200px;
        h1{
          font-size: 5em;
        }
        h3{
          margin-top: 30px;
          font-size: 2.5em;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    nav{
      #nav_links{
        padding: 5px;
        a{
          font-size: 2.5em;
          margin-right: 50px;
          margin-left: 50px;
        }
      }
      #categoryMenu{
        height: 460px;
      }
    }
    .side_bar{
      .side_bar_info{
        height: 440px;
        h3{
          font-size: 3em;
          margin-left: 2px;
        }
        ul{
          font-size: 2em;
          line-height: 80px;
        }
      }
    }

    .category_section{
      height: 400px;
      padding: 0;
      h2{
        font-size: 3em;
      }
      .hiking_box{
        @include R_cat_box3;
        height: 150px;
      }
      .fishing_box{
        margin-right: 0px;
        @include R_cat_box3;
        height: 150px;
      }
      .climbing_box{
        margin-right: 0px;
        @include R_cat_box3;
        height: 150px;
      }
      .camping_box{
        margin-left: 0px;
        @include R_cat_box3;
        margin-right: 0px;
        height: 150px;
      }
      // This is the hiking logo text
      .hiking_text{
        @include R_cat_text3;
      }
      // This is the fishing logo text
      .fishing_text{
        @include R_cat_text3;
      }
      // This is the rock climbing logo text
      .climbing_text{
        margin-right: 0px;
        @include R_cat_text3;
      }
      // This is the camping  logo text
      .camping_text{
        margin-right: 0px;
        @include R_cat_text3;
      }
    }

    .hiking_category{
      margin-top: 50px;
      font-size: 1.5em;
    }
    #cat_text1{
      font-size: 2em;
      height: 50px;
      margin-top: 10px;
    }
    #hiking_img1{
      height: 420px;
    }
    #hiking_img2{
      height: 410px;
    }
    #hiking_img3{
      height: 420px;
    }
    .info_box1{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.4em;
      height: 350px;
    }

    .fishing_category{
      margin-top: 50px;
      font-size: 1.5em;
    }
    #fishing_img1{
      height: 420px;
    }
    #fishing_img2{
      height: 430px;
    }
    #fishing_img3{
      height: 420px;
    }
    .info_box2{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.4em;
      height: 350px;
    }

    .rock_category{
      margin-top: 50px;
      font-size: 1.5em;
    }
    #rock_img1{
      height: 420px;
    }
    #rock_img2{
      height: 410px;
    }
    #rock_img3{
      height: 420px;
    }
    .info_box3{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.4em;
      height: 350px;
    }

    .camp_category{
      margin-top: 50px;
      font-size: 1.5em;
    }
    #camp_img1{
      height: 420px;
    }
    #camp_img2{
      height: 430px;
    }
    #camp_img3{
      height: 420px;
    }
    .info_box4{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.4em;
      height: 350px;
    }
    .quote_section{
      padding: 5px;
      margin-top: 70px;
      h2{
        font-size: 3em;
      }
      h3{
        font-size: 2.5em;
      }
      button{
        padding: 32px 64px;
        font-size: 2em;
      }
    }
    footer{
      font-size: 2em;
    }
  // ############################## GALLERY PAGE ##############################
  .gallery_grid-container{
    display: grid;
    grid-template-areas: 'gallery_img gallery_img gallery_img'
    'navbar navbar navbar'
    'gallery-head gallery-head gallery-head'
    'gall-content gall-content gall-content'
    ;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Raleway', sans-serif;
    grid-gap: 40px;
  }
  #gallery_img{
    height: 80vh;
  }
  .gallery_text_header{
    font-size: 2em;
  }
  .hike_cat{
    font-size: 2em;
  }
  .fish_cat{
    font-size: 2em;
  }
  .rock_cat{
    font-size: 2em;
  }
  .camp_cat{
    font-size: 2em;
  }
  .hike_img1{
    height: 400px;
    @include logoImgSettings;
  }
  .hike_img2{
    height: 380px;
    @include logoImgSettings;
  }
  .hike_img3{
    height: 400px;
    @include logoImgSettings;
  }
  .hike_img4{
    height: 400px;
    @include logoImgSettings;
  }
  .hike_img5{
    height: 420px;
    margin-top: -20px;
    @include logoImgSettings;
  }
  .hike_img6{
    height: 400px;
    @include logoImgSettings;
  }

  .fish_img1{
    height: 400px;
    @include logoImgSettings;
  }
  .fish_img2{
    height: 380px;
    @include logoImgSettings;
  }
  .fish_img3{
    height: 400px;
    @include logoImgSettings;
  }
  .fish_img4{
    height: 400px;
    @include logoImgSettings;
  }
  .fish_img5{
    height: 420px;
    margin-top: -20px;
    @include logoImgSettings;
  }
  .fish_img6{
    height: 400px;
    @include logoImgSettings;
  }

  .rock_img1{
    height: 400px;
    @include logoImgSettings;
  }
  .rock_img2{
    height: 380px;
    @include logoImgSettings;
  }
  .rock_img3{
    height: 400px;
    @include logoImgSettings;
  }
  .rock_img4{
    height: 400px;
    @include logoImgSettings;
  }
  .rock_img5{
    height: 420px;
    margin-top: -20px;
    @include logoImgSettings;
  }
  .rock_img6{
    height: 400px;
    @include logoImgSettings;
  }

  .camp_img1{
    height: 400px;
    @include logoImgSettings;
  }
  .camp_img2{
    height: 380px;
    @include logoImgSettings;
  }
  .camp_img3{
    height: 400px;
    @include logoImgSettings;
  }
  .camp_img4{
    height: 400px;
    @include logoImgSettings;
  }
  .camp_img5{
    height: 420px;
    margin-top: -20px;
    @include logoImgSettings;
  }
  .camp_img6{
    height: 400px;
    @include logoImgSettings;
  }
}
