// This is the variables

// This is for the navbar text color
$navbarTextColor: rgb(104, 104, 104);

// This is the for the navbar text when hovering
$navbarHoverColor : black;

// This is the default border code
$borderSettings: 1px solid rgb(0, 0, 0);

// This is the category image space
$categoryImgSpace: 100px;

// This is to centre the text
$categoryCenter: 70px;

// This is the category header color
$categoryColor: rgb(0, 138, 202);

$galleryHeaderColor :rgb(0, 217, 255);