// THIS IS THE CSS STYLESHEET

// This is the variables
$navbarTextColor: rgb(53, 235, 17);
$navbarHoverColor : black;
$borderSettings: 1px solid black;
$categoryImgSpace: 100px;
$categoryCenter: 70px;

// This is the mixins
@mixin backgroundImgSettings{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin categoryImg{
    height: 100px;
    width: 15%;
    float: left;
    // border-radius: 50%;
}
@mixin categoryText{
    height: 50px;
    width: 15%;
    float: left;
    // border-radius: 50%;

    h3{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.25em;
    }
}

.grid-container{
    display: grid;
    grid-template-areas: 'home-img home-img home-img'
    'navbar navbar navbar'
    'body_content body_content body_content'
    ;
    grid-template-columns: 1fr 1fr 1fr;
}

body{
    margin: 0;
}

.home-img{
    grid-area: home-img;
    height: 900px;
    background: url('../images/home.jpg');
    @include backgroundImgSettings;
    margin-top: -5px;

    .header_logo{
        margin-top: 200px;

        h1{
            color: white;
            font-family: 'Permanent Marker', cursive;
            font-size: 3em;
        }

        .header_line{
            text-decoration: line-through;
            text-decoration-color: rgb(32, 167, 245);
            text-decoration-style: double;
            color: transparent;
        }
        .Colortext{
            background-color: rgba(43, 43, 43, 0.92);
            padding: 20px;
        }

        h3{
            color: white;
            background-color: rgba(43, 43, 43, 0.92);
            padding: 15px;
            font-family: 'Poppins', sans-serif;
            margin-left: 250px;
            margin-right: 250px;
            border-radius: 10px;
        }
    }
}

nav{
    grid-area: navbar;
    position: fixed;
    width: 100%;
    background-color: white;
    opacity: 0.92;
    z-index: 100;


    #nav_links{
        text-align: center;
        // font-family: 'Poppins', sans-serif;
        font-family: 'Permanent Marker', cursive;
        padding: 15px;

        a{
            color: $navbarTextColor;
            text-decoration: none;
            margin-right: 30px;
            margin-left: 20px;
            font-size: 1.4em;
            border-bottom: 1px solid transparent;
            transition: all ease-in-out 0.4s;

            &:hover{
                color: $navbarHoverColor;
                border-bottom-color: $navbarHoverColor;
            }
        }
    }
}

.body_content{
    grid-area: body_content;
    display: grid;
    grid-template-areas: 'side_bar category_section category_section category_section ads_bar'
    'side_bar hiking_category hiking_category hiking_category ads_bar'
    'side_bar hiking_img1 hiking_img2 hiking_img3 ads_bar'
    ;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
}

.side_bar{
    grid-area: side_bar;
    border: $borderSettings;
}

.category_section{
    grid-area: category_section;
    border: $borderSettings;
    line-height: 50px;
    height: 300px;
    padding: 10px;

    h2{
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        font-size: 1.75em;
    }

    .hiking_box{
       @include categoryImg;
       background: url('../images/hike.png');
       @include backgroundImgSettings;
       margin-left: $categoryCenter;
        
    }
    .fishing_box{
        @include categoryImg;
        background: url('../images/fish.png');
        @include backgroundImgSettings;
        margin-left: $categoryImgSpace;
    }
    .climbing_box{
        @include categoryImg;
        background: url('../images/rock.png');
        @include backgroundImgSettings;
        margin-left: $categoryImgSpace;
        margin-right: $categoryCenter;
    }
    .camping_box{
        @include categoryImg;
        background: url('../images/tent.png');
        @include backgroundImgSettings;
        margin-right: $categoryCenter;
    }

    .hiking_text{
        @include categoryText;
        margin-left: $categoryCenter;
    }
    .fishing_text{
        @include categoryText;
        margin-left: $categoryImgSpace;
    }
    .climbing_text{
        @include categoryText;
        margin-left: $categoryImgSpace;
        margin-right: $categoryCenter;
    }
    .camping_text{
        @include categoryText;
        margin-right: $categoryCenter;
    }
}

.ads_bar{
    grid-area: ads_bar;
    border: $borderSettings;
}

.hiking_category{
    grid-area: hiking_category;
    padding: 5px;
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.hiking_img1{
    grid-area: hiking_img1;
    border: $borderSettings;
    height: 200px;
}
.hiking_img2{
    grid-area: hiking_img2;
    border: $borderSettings;
    height: 200px;
}
.hiking_img3{
    grid-area: hiking_img3;
    border: $borderSettings;
    height: 200px;
}