// THIS IS THE CSS STYLESHEET

// THIS IS  THE IMPORTED PARTIALS
@import 'variables';
@import 'mixins';

// ############################################### CSS STYLING #####################################################

*{
    box-sizing: border-box;
}

// This is the main grid container
.grid-container{
    display: grid;
    grid-template-areas: 'home-img home-img home-img'
    'navbar navbar navbar'
    'body_content body_content body_content'
    'quote_section quote_section quote_section'
    'footer footer footer'
    ;
    grid-template-columns: 1fr 1fr 1fr;
}

body{
    margin: 0;
}

// This is the home page home image
.home-img{
    grid-area: home-img;
    height: 100vh;
    background: url('../images/home.jpg');
    @include backgroundImgSettings;

    // This the header logo
    .header_logo{
        margin-top: 200px;
        text-align: center;

        // This is the logo settings
        h1{
            color: white;
            font-family: 'Permanent Marker', cursive;
            font-size: 3em;
        }

        // This the horizontal lines by the header logo
        .header_line{
            text-decoration: line-through;
            text-decoration-color: rgb(32, 167, 245);
            text-decoration-style: double;
            color: transparent;
        }
        // This is the mini sections under the header
        .Colortext{
            background-color: rgba(43, 43, 43, 0.92);
            padding: 20px;
        }
        h3{
            color: white;
            background-color: rgba(43, 43, 43, 0.92);
            padding: 15px;
            font-family: 'Poppins', sans-serif;
            margin-left: 250px;
            margin-right: 250px;
            border-radius: 10px;
        }
    }
}

// This is the navbar
nav{
    grid-area: navbar;
    position: fixed;
    width: 100%;
    background-color: white;
    opacity: 0.92;
    z-index: 100;

    // This is the navbar links
    #nav_links{
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        padding: 15px;

        // This is the links for the navbar
        a{
            color: $navbarTextColor;
            text-decoration: none;
            margin-right: 30px;
            margin-left: 20px;
            font-size: 1.4em;
            border-bottom: 1px solid transparent;
            transition: all ease-in-out 0.4s;

            &:hover{
                color: $navbarHoverColor;
                border-bottom-color: $navbarHoverColor;
            }
        }
    }

    .dropdown_item{
        font-size: 0.8em;
    }

    #categoryMenu{
        display: none;
        height: 250px;
        ul{
            list-style: none;
            a{
                border-bottom: 1px solid transparent;
                transition: all ease-in-out 0.4s;
                &:hover{
                    color: $navbarHoverColor;
                    border-bottom-color: $navbarHoverColor;
                }
            }
            li{
                font-size: 0.9em;
            }
        }
    }
}

// ################################ MAIN BODY CONTENT GRID ################################
.body_content{
    grid-area: body_content;
    display: grid;
    grid-template-areas: 'side_bar category_section category_section category_section ads_bar'
    'side_bar hiking_category hiking_category hiking_category ads_bar'
    'side_bar hiking_content hiking_content hiking_content ads_bar'
    'side_bar fishing_category fishing_category fishing_category ads_bar'
    'side_bar fishing_content fishing_content fishing_content ads_bar'
    'side_bar rock_category rock_category rock_category ads_bar'
    'side_bar rock_content rock_content rock_content ads_bar'
    'side_bar camp_category camp_category camp_category ads_bar'
    'side_bar camp_content camp_content camp_content ads_bar'
    ;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-gap: 10px;
}

// This is the side bar
.side_bar{
    grid-area: side_bar;
    font-family: 'Raleway', sans-serif;

    .side_bar_info{
        height: 300px;
        position: sticky;
        top: 150px;
        box-shadow: 2px 2px 10px rgba(192, 192, 192, 0.747);
        margin-top: 14px;

        h3{
            margin-left: 14px;
            font-size: 1.5em;
        }

        ul{
            list-style: none;
            line-height: 50px;
            margin-left: -40px;
            font-size: 1.25em;

            a{
                color: black;
                text-decoration: none;

                li{
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}

// This is the category sections
.category_section{
    grid-area: category_section;
    border: $borderSettings;
    line-height: 50px;
    height: 300px;
    padding: 10px;

    h2{
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        font-size: 1.75em;
        border: $borderSettings;
    }

    // This is the hiking logo
    .hiking_box{
       @include logoImg;
       background: url('../images/hike.png');
       @include logoImgSettings;
       margin-left: $categoryCenter;
       border: $borderSettings;

    }
     // This is the fishing logo
    .fishing_box{
        @include logoImg;
        background: url('../images/fish.png');
        @include logoImgSettings;
        margin-left: $categoryImgSpace;
        border: $borderSettings;
    }
     // This is the rock climbing logo
    .climbing_box{
        @include logoImg;
        background: url('../images/rock.png');
        @include logoImgSettings;
        margin-left: $categoryImgSpace;
        margin-right: $categoryCenter;
        border: $borderSettings;
    }
     // This is the camping logo
    .camping_box{
        @include logoImg;
        background: url('../images/tent.png');
        @include logoImgSettings;
        margin-right: $categoryCenter;
        border: $borderSettings;
    }

    // This is the hiking logo text
    .hiking_text{
        @include logoText;
        margin-left: $categoryCenter;
        border: $borderSettings;
    }
    // This is the fishing logo text
    .fishing_text{
        @include logoText;
        margin-left: $categoryImgSpace;
        border: $borderSettings;
    }
    // This is the rock climbing logo text
    .climbing_text{
        @include logoText;
        margin-left: $categoryImgSpace;
        margin-right: $categoryCenter;
        border: $borderSettings;
    }
    // This is the camping  logo text
    .camping_text{
        @include logoText;
        margin-right: $categoryCenter;
        border: $borderSettings;
    }
}

// This is the ads bar
.ads_bar{
    grid-area: ads_bar;
    border: $borderSettings;
}

// ################################### HIKING CATEGORY ###################################

// This is the hiking category
.hiking_category{
    grid-area: hiking_category;
    @include categoryHeader;
}

.hiking_cat_content{
    display: grid;
    grid-area: hiking_content;
    grid-template-areas: 'cat_text1 cat_text1 cat_text1'
    'hiking_img1 hiking_img2 hiking_img3'
    'info_box1 info_box1 info_box1';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

// This is the hiking category names
#cat_text1{
    grid-area: cat_text1;
    @include category_text;
}

// This is the hiking category images
#hiking_img1{
    grid-area: hiking_img1;
    @include category_img;
    background: url('../images/lionshead.jpg');
    @include backgroundImgSettings();
}

#hiking_img2{
    grid-area: hiking_img2;
    @include category_img;
    height: 280px;
    background: url('../images/skeleton.jpg');
    @include backgroundImgSettings();
}
#hiking_img3{
    grid-area: hiking_img3;
    @include category_img;
    background: url('../images/motte.jpg');
    @include backgroundImgSettings();
}

// This is the information section of the hiking category
.info_box1{
    grid-area: info_box1;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    display: none;
    font-family: 'Poppins', sans-serif;

    h4{
        color: rgb(10, 123, 252);
    }

    #lionshead{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #skeleton{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #motte{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
}
#infobox{
    display: none;
}

// ################################### FISHING CATEGORY ###################################

.fishing_category{
    grid-area: fishing_category;
    @include categoryHeader;
}

.fishing_cat_content{
    display: grid;
    grid-area: fishing_content;
    grid-template-areas: 'cat_text1 cat_text1 cat_text1'
    'fishing_img1 fishing_img2 fishing_img3'
    'info_box2 info_box2 info_box2';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#cat_text1{
    grid-area: cat_text1;
    @include category_text;
}

// This is the fishing category images
#fishing_img1{
    grid-area: fishing_img1;
    @include category_img;
    background: url('../images/kommetjie.jpg');
    @include backgroundImgSettings();
}
#fishing_img2{
    grid-area: fishing_img2;
    @include category_img;
    height: 320px;
    background: url('../images/rooikrans.jpg');
    @include backgroundImgSettings();
}
#fishing_img3{
    grid-area: fishing_img3;
    @include category_img;
    background: url('../images/capepeninsula.jpg');
    @include backgroundImgSettings();
}

.info_box2{
    grid-area: info_box2;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    display: none;
    font-family: 'Poppins', sans-serif;

    h4{
        color: rgb(10, 123, 252);
    }

    #kommetjie{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #rooikrans{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #capepen{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
}
#infobox2{
    display: none;
}

// ################################### ROCK CLIMBING CATEGORY ###################################

.rock_category{
    grid-area: rock_category;
    @include categoryHeader;
}

.rock_cat_content{
    display: grid;
    grid-area: rock_content;
    grid-template-areas: 'cat_text1 cat_text1 cat_text1'
    'rock_img1 rock_img2 rock_img3'
    'info_box3 info_box3 info_box3'
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#cat_text1{
    grid-area: cat_text1;
    @include category_text;
}

// This is the hiking category images
#rock_img1{
    grid-area: rock_img1;
    @include category_img;
    background: url('../images/rocklands.jpg');
    @include backgroundImgSettings();
}

#rock_img2{
    grid-area: rock_img2;
    @include category_img;
    height: 280px;
    background: url('../images/tablemountain.jpg');
    @include backgroundImgSettings();
}
#rock_img3{
    grid-area: rock_img3;
    @include category_img;
    background: url('../images/paarl.jpg');
    @include backgroundImgSettings();
}

.info_box3{
    grid-area: info_box3;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    display: none;
    font-family: 'Poppins', sans-serif;

    h4{
        color: rgb(10, 123, 252);
    }

    #rocklands{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #tablemountain{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #paarl{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
}
#infobox3{
    display: none;
}

// ################################### CAMPING CATEGORY ###################################
.camp_category{
    grid-area: camp_category;
    @include categoryHeader;
}

.camp_cat_content{
    display: grid;
    grid-area: camp_content;
    grid-template-areas: 'cat_text1 cat_text1 cat_text1'
    'camp_img1 camp_img2 camp_img3'
    'info_box4 info_box4 info_box4';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#cat_text1{
    grid-area: cat_text1;
    @include category_text;
}

#camp_img1{
    grid-area: camp_img1;
    @include category_img;
    background: url('../images/secretfalls.jpg');
    @include backgroundImgSettings();
}

#camp_img2{
    grid-area: camp_img2;
    @include category_img;
    height: 280px;
    background: url('../images/beaverlac.jpg');
    @include backgroundImgSettings();
}
#camp_img3{
    grid-area: camp_img3;
    @include category_img;
    background: url('../images/wolfkop.jpg');
    @include backgroundImgSettings();
}

.info_box4{
    grid-area: info_box4;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    display: none;
    font-family: 'Poppins', sans-serif;

    h4{
        color: rgb(10, 123, 252);
    }

    #secretfalls{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #beaverlac{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #wolfkop{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
}
#infobox4{
    display: none;
}

.quote_section{
    grid-area: quote_section;
    text-align: center;
    color: white;
    background: rgba(4, 145, 23, 0.726);
    padding: 40px;
    letter-spacing: 2px;
    font-family: 'Varela', sans-serif;
    margin-top: 120px;

    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.65em;
        color: white;
    }

    button{
        @include ButtonSettings;
    }
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

@import 'contact';

@import 'gallery';

@import 'devices';