// THIS IS THE CSS STYLESHEET

// This is the variables
$navbarTextColor: rgb(53, 235, 17);
$navbarHoverColor : black;
$borderSettings: 1px solid black;
$categoryImgSpace: 100px;
$categoryCenter: 70px;
$categoryColor: rgb(0, 138, 202);

// This is the mixins
@mixin backgroundImgSettings{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin logoImgSettings{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin logoImg{
    height: 100px;
    width: 14%;
    float: left;
    // border-radius: 50%;
}
@mixin logoText{
    height: 50px;
    width: 14%;
    float: left;
    // border-radius: 50%;

    h3{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.25em;
    }
}
@mixin category_img{
    height: 300px;
    line-height: 20px;
    // border: $borderSettings;
}
@mixin category_text{
    // border: $borderSettings;
    height: 40px;
    text-align: center;
    color: black;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
}

@mixin paraHeader{
    h4{
        text-decoration: underline;
        font-size: 1.25em;
    }
}

.grid-container{
    display: grid;
    grid-template-areas: 'home-img home-img home-img'
    'navbar navbar navbar'
    'body_content body_content body_content'
    ;
    grid-template-columns: 1fr 1fr 1fr;
}

body{
    margin: 0;
}

.home-img{
    grid-area: home-img;
    height: 900px;
    background: url('../images/home.jpg');
    @include backgroundImgSettings;
    // margin-top: -30px;

    .header_logo{
        margin-top: 200px;

        h1{
            color: white;
            font-family: 'Permanent Marker', cursive;
            font-size: 3em;
        }

        .header_line{
            text-decoration: line-through;
            text-decoration-color: rgb(32, 167, 245);
            text-decoration-style: double;
            color: transparent;
        }
        .Colortext{
            background-color: rgba(43, 43, 43, 0.92);
            padding: 20px;
        }

        h3{
            color: white;
            background-color: rgba(43, 43, 43, 0.92);
            padding: 15px;
            font-family: 'Poppins', sans-serif;
            margin-left: 250px;
            margin-right: 250px;
            border-radius: 10px;
        }
    }
}

nav{
    grid-area: navbar;
    position: fixed;
    width: 100%;
    background-color: white;
    opacity: 0.92;
    z-index: 100;


    #nav_links{
        text-align: center;
        // font-family: 'Poppins', sans-serif;
        font-family: 'Permanent Marker', cursive;
        padding: 15px;

        a{
            color: $navbarTextColor;
            text-decoration: none;
            margin-right: 30px;
            margin-left: 20px;
            font-size: 1.4em;
            border-bottom: 1px solid transparent;
            transition: all ease-in-out 0.4s;

            &:hover{
                color: $navbarHoverColor;
                border-bottom-color: $navbarHoverColor;
            }
        }
    }
}

.body_content{
    grid-area: body_content;
    display: grid;
    grid-template-areas: 'side_bar category_section category_section category_section ads_bar'
    'side_bar hiking_category hiking_category hiking_category ads_bar'
    'side_bar hiking_text1 hiking_text2 hiking_text3 ads_bar'
    'side_bar hiking_img1 hiking_img2 hiking_img3 ads_bar'
    'side_bar info_box1 info_box1 info_box1 ads_bar'
    ;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-gap: 10px;
}

.side_bar{
    grid-area: side_bar;
    border: $borderSettings;
}

.category_section{
    grid-area: category_section;
    border: $borderSettings;
    line-height: 50px;
    height: 300px;
    padding: 10px;

    h2{
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        font-size: 1.75em;
    }

    .hiking_box{
       @include logoImg;
       background: url('../images/hike.png');
       @include logoImgSettings;
       margin-left: $categoryCenter;
        
    }
    .fishing_box{
        @include logoImg;
        background: url('../images/fish.png');
        @include logoImgSettings;
        margin-left: $categoryImgSpace;
    }
    .climbing_box{
        @include logoImg;
        background: url('../images/rock.png');
        @include logoImgSettings;
        margin-left: $categoryImgSpace;
        margin-right: $categoryCenter;
    }
    .camping_box{
        @include logoImg;
        background: url('../images/tent.png');
        @include logoImgSettings;
        margin-right: $categoryCenter;
    }

    .hiking_text{
        @include logoText;
        margin-left: $categoryCenter;
    }
    .fishing_text{
        @include logoText;
        margin-left: $categoryImgSpace;
    }
    .climbing_text{
        @include logoText;
        margin-left: $categoryImgSpace;
        margin-right: $categoryCenter;
    }
    .camping_text{
        @include logoText;
        margin-right: $categoryCenter;
    }
}

.ads_bar{
    grid-area: ads_bar;
    border: $borderSettings;
}

.hiking_category{
    grid-area: hiking_category;
    padding: 5px;
    background-color: $categoryColor;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
}

#hiking_text1{
    grid-area: hiking_text1;
    @include category_text;
}
#hiking_text2{
    grid-area: hiking_text2;
    @include category_text;
}
#hiking_text3{
    grid-area: hiking_text3;
    @include category_text;
}

#hiking_img1{
    grid-area: hiking_img1;
    @include category_img;
    background: url('../images/lionshead.jpg');
    @include backgroundImgSettings();
}
#hiking_img2{
    grid-area: hiking_img2;
    @include category_img;
    height: 280px;
    background: url('../images/skeleton.jpg');
    @include backgroundImgSettings();
}
#hiking_img3{
    grid-area: hiking_img3;
    @include category_img;
    background: url('../images/motte.jpg');
    @include backgroundImgSettings();
}

.info_box1{
    grid-area: info_box1;
    height: 320px;
    margin-left: 100px;
    margin-right: 100px;
    // margin-top: 10px;
    display: none;
    font-family: 'Poppins', sans-serif;

    #lionshead{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #skeleton{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
    #motte{
        margin-top: 10px;
        display: none;
        @include paraHeader;
    }
}
#infobox{
    display: none;
}